.venv
*.lock
*.pyc
*.swo
*.swp
*.xml
*.json
*.xz
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
.ruff_cache
build/
dist/
work/
work/phonon/
aiida-mlip-phonon/
pip-wheel-metadata/
.tox/
