.venv
*.lock
*.pyc
*.swo
*.swp
*.xml
*.json
*.xz
*.bak
*.dat
*.hdf5
Miniforge3*
mace_mp_small.model
test_*.py
phon_2py.py
yaml_to_bandsdata.py
~*
*~
.project
*.egg*
.DS_Store
.coverage
.pytest_cache
.vscode
.ruff_cache
build/
dist/
work/
work/phonon/
aiida-mlip-phonon/
aiida_pythonjob_ins/
abinslib/
pip-wheel-metadata/
.tox/
